<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="/admin">Controller</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/admin"><i class="bi bi-bag-check me-2"></i>All products</a>
                    </li>
                        <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/admin/orders-lists"><i class="bi bi-truck me-2"></i>All orders</a>
                    </li>
                    </li>
                        <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/admin/users-list"><i class="bi bi-person me-2"></i>All users</a>
                    </li>
                    
              
                </ul>
                <ul class="d-flex">
                    <li class="nav-item dropdown mx-2" style="list-style: none;">
                        <a class="nav-link dropdown-toggle active text-white" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-person me-2"></i>
                            {{#if admin}}
                                {{admin.Firstname}}
                            {{else}}
                                Account
                            {{/if}}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                             {{#if admin}}
                                <li><a class="dropdown-item" href="/admin/logout">Logout</a></li>
                            {{else}}
                               <li><a class="dropdown-item" href="/admin/login">Login</a></li>
                            {{/if}}
                            
                            
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

