<footer id="footer" class="bg-primary text-white text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
         <img class="my-3" style="height: 40px;" src="/images/cartFact-logos_transparent.png" alt="">
        

        <p style="font-style:italic ;">
          CartFact is a online shopping platform which gives you an amazing experience of shopping ,
          <a href="#" class="text-white" style="text-decoration: none ;"> Join our newsletter now !</a>
        </p>  
        
        <form class="d-flex">
        <input style="width: 250px;" class="form-control me-1" type="email" placeholder="Email" aria-label="email">
        <button class="btn btn-outline-light" type="submit">Join now</button>
      </form>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      {{!-- <div class="col-lg-3 col-md-6 mb-4 mb-md-0 py-3">
        <h6 class="text-uppercase">Social media</h6>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-white">Github</a>
          </li>
          <li>
            <a href="#!" class="text-white">Linkedin</a>
          </li>
          <li>
            <a href="#!" class="text-white">Facebook</a>
          </li>
          <li>
            <a href="#!" class="text-white">Twitter</a>
          </li>
        </ul>
      </div> --}}
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0 py-3 ms-auto">
       <h6 class="text-uppercase">CARTFACT</h6>
        <ul class="list-unstyled">
          <li>
            <a href="/signup" class="text-white">Sign up</a>
          </li>
          <li>
            <a href="/login" class="text-white">Sign in</a>
          </li>
          <li>
            <a href="/" class="text-white">Explore</a>
          </li>
          <li>
            <a href="/" class="text-white">Account</a>
          </li>
          <li>
            <a href="/admin/login" class="text-white">Admin </a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(133, 126, 126, 0.2);">
    All rights reserved  &copy; 2022
    <a style="text-decoration: none;" class="text-white" href="#">cartfact.com</a>
  </div>
  <!-- Copyright -->
</footer>

