<div class="container my-5 py-3">
  <div class="row d-flex align-items-center">
    <div class="col-md-6 text-center">
      <img class="img-fluid " style="max-width:300px;" src="/images/access-denied.svg" alt="Cartfact">
    </div>
    <div class="col-md-6 text-center ">
      <h3 class="mt-3">No account with this E-mail ID</h3>
      <a href="/signup" class="btn btn-success">Signup</a>
       <a href="/login" class=" mx-2 my-2 btn btn-success">Login</a>
    </div>
  </div>
</div>