<div class="container my-5 py-3">
  <div class="row">
    <div class="col-md-6 text-center">
      <img class="img-fluid " style="max-width: 400px;" src="/images/thanks.png" alt="Cartfact">
    </div>
    <div class="col-md-6 text-center ">
      <h3 class="mt-3">Thank you Your order Placed !</h3>
      <a href="/" class="btn btn-success my-3 px-4">Homepage</a>
    </div>
  </div>
</div>